/* <= 380px  */
@media (max-width:  23.75em){
    .m-item__menu-logo{
        display: none;
    }
    .m-item__menu-link{
        padding: 10px ;
    }
}

/* <= 739px */
@media (max-width: 46.1875em){
    .header__navbar{
        display: flex;
        max-width: 540px !important;
        padding: 0 16px;
    }
    .search-input{
        margin: 0 15px;
    }
    .navbar__search-login{
        width: 100%;
    }
    .search-input{
        width: 100% !important;
    }
    .nav__mobile-active {
        left: 0 !important; 
        width: 100% !important;
    }
    .slide__img{
        display: none;
    }
    .slide__img-mobile{
        display: block;
    }
    .intro__content-item__between{
        display: none;
    }
    .intro__item{
        flex-direction: column;
        width: 100%;
    }
    .section__intro-container{
        padding: 0 13px;
    }
    .intro__content-item{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    .intro__item-text{
        width: 100%;
        max-width: 140px;
    }
    .intro__content{
        justify-content: space-around;
    }
    .intro__content-item__right .intro__item{
        flex-direction: column-reverse;
    }
    .tienich__box{
        background-color: var(--while_color);
        padding: 0 13px;
    }
    .tienich__box-content{
        flex-direction: column-reverse;
        max-width: 514px;
        margin: auto;
    }
    .tienich__box-item__left{
        width: 100% !important;
        max-width: 100%;
    }
    .tienich__box-item__text{
        margin-top: 10px;
        text-align: center;
    }
    .btn-merchant{
        margin: 1.5rem auto 0 auto;
    }
    .tienich__box-item__text{
        font-size: 1.3rem;
    }
    .uudai__card{
        padding: 0 13px;
        max-width: 540px;
        margin: 0 auto 30px auto;
    }
    .uudai__container{
        padding: 17px 0px 20px 0px;
    }
    .margin__title{
        margin-bottom: 20px;
    }
}
/* >= 740px and < 1024px*/
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .intro__item-text{
        width: 130px;
    }
    .wide.tienich__patch-container{
        width: 100%;
        padding: 15px 20px 40px 20px ;
    }
}
/* >= 1024px */
@media (min-width: 64em){
    .navbar__bar{
        display: none;
    }
}
/* < 1024px */
@media (max-width: 63.9375em){
    .navbar__list{
        display: none;
    }
    .navbar__search-login{
        margin-left: auto;
    }
    .search-input{
        width: 539px;
    }
    .search__suggestions{
        width: 100%;
    }
    .navbar__login{
        display: none;
    }
    .navbar__bar{
        color: var(--text_color-menu);
        font-size: 1.6rem;
        transition: 0.2s;
    }
    .navbar__bar:hover{
        color: var(--text_color);
    }
    .section__title{
        padding: 13px 0px 0px 0px;
    }
    .intro__content-img{
        width: 227px;
    }
    .intro__content{
        margin: 0;
    }
    .intro__content-item__right{
        padding-right: 50px;
    }
    .intro__content-item__left{
        padding-left: 50px;
    }
    .section__title-text{
        font-size: calc(1.325rem + .84375vw);
    }
}